@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');



.forcast{
width:200px;
height: 200px;
}
.card{
  height: 100vh;
  width:300px;
  font-family: 'Pathway Gothic One', sans-serif;
}

hr{
  width:100%;
}

.sun{
  height:50px;
  width:50px;
}

.days{
  border-bottom: 3px solid white;
  overflow: hidden;
}

.degree{
  text-align:right;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .card{
    height: 100vh;
    width:100vw;
    
    
  }
  .container{
    padding:0;
    margin:0;
    text-transform: uppercase;
    
  }
  

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .card{
      height: 100vh;
      width:100vw;
      
      
    }
    .container{
      padding:0;
      margin:0;
      text-transform: uppercase;
      
    }

}

/* .card{ 
  background: url(./tb.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
} */

#weatherIcon{
  position:relative;
  left:20px
}